mixin main-btn(data)
  if data.type == 'button' || data.type == 'submit'
    button(type= data.type class= data.cls ? data.cls : null data-modal-opener= data.modal ? data.modal : null).main-btn
      if data.iconName && data.iconPosition == 'left'
        img(src=`./assets/images/icon-${data.iconName}.svg` alt="Иконка" width= data.iconWidth height= data.iconHeight)

      span!= data.text

      if data.iconName && data.iconPosition == 'right'
        img(src=`./assets/images/icon-${data.iconName}.svg` alt="Иконка" width= data.iconWidth height= data.iconHeight)

  if data.type == 'link'
    a(href= data.href class= data.cls ? data.cls : null).main-btn
      if data.iconName && data.iconPosition == 'left'
        img(src=`./assets/images/icon-${data.iconName}.svg` alt="Иконка" width= data.iconWidth height= data.iconHeight)

      span!= data.text

      if data.iconName && data.iconPosition == 'right'
        img(src=`./assets/images/icon-${data.iconName}.svg` alt="Иконка" width= data.iconWidth height= data.iconHeight)


